<div>
  <h3><%=@user.name %> follows</h3>
  <ul class='condensed list of items for pursueds'>
    <%= render partial: 'followings/user', collection: @user.pursueds %>
  </ul>
</div>
<br />
<div>
  <h3><%=@user.name %>'s followers</h3>
  <ul class='condensed list of items for followers'>
    <%= render partial: 'followings/user', collection: @user.followers %>
  </ul>
</div>

