// Form elements
.normal.fileupload {
  cursor: pointer;
  position: relative;
  input,
  button {
    position: absolute;
    top: 128px;
    left: 20%;
    color: lighten($ch_draggable_fileupload_font_color,10%);
    font-size: 80%;
    font-weight: $ch_draggable_fileupload_toggle_font_weight;
    display: none;
  }
  &:after {
    clear: both;
    content: $ch_draggable_fileupload_text;
    display: block;
    max-width: $ch_draggable_fileupload_max_width;
    padding: $ch_draggable_fileupload_padding;
    text-align: center;
    border: $ch_draggable_fileupload_border;
    background: asset_url($ch_single_file_icon) $ch_draggable_fileupload_background_position no-repeat $ch_draggable_fileupload_background_color;
    color: $ch_draggable_fileupload_font_color;
    font-size: $ch_draggable_fileupload_font_size;
    font-weight: $ch_draggable_fileupload_font_weight;
    @include rounded_corners($ch_upload_area_radius);
    padding-bottom: 30px;
  }
  &:before {
    content: $ch_draggable_fileupload_toggle_text;
    display: block;
    color: lighten($ch_draggable_fileupload_font_color,10%);
    font-size: 90%;
    font-weight: $ch_draggable_fileupload_toggle_font_weight;
    position: absolute;
    text-align: center;
    top: 130px;
    width: $ch_draggable_fileupload_max_width;
    padding: 0 40px;
  }
  &.default {
    input,
    button {
      display: block;
    }
    &:before {
      display: none;
    }
    &:after {
      content: "Click button to upload your file";
    }
  }
}
