<h1>Listing resource_files</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_files.each do |resource_file| %>
      <tr>
        <td><%= link_to t("show"), [:admin, resource_file] %></td>
        <td><%= link_to t("edit"), edit_admin_resource_file_path(resource_file) %></td>
        <td><%= link_to t("delete"), [:admin, resource_file], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource file', new_admin_resource_file_path %>
