#pie_chart {
  width: 200px;
  height: 200px;
  margin-left: 30px;
}

#line_graph {
  width: 490px;
  height: 100px;
}

#generate_button {
  width: 196px;
  text-align: center;
}

.dashboard {
  position: relative;
  margin: auto;
  width: 840px;
  height: 880px;
  &.admin {
    /*background: asset_url('/admin_dashboard.png') no-repeat center top;*/
  }
  &.user {
    width: 970px;
  }
}
