// Lists

// Fake Ordered list
.fake_ordered_list_holder {
  position: relative;
  .ordered_list_item {
    &:before {
      @include circle($ch_fake_ordered_list_item_radius,$ch_fake_ordered_list_item_background_color,$ch_fake_ordered_list_item_font_size,$ch_fake_ordered_list_item_font_color,$sk_fake_ordered_list_item_text_shunt,$ch_fake_ordered_list_item_weight);
      background: $sk_fake_ordered_list_item_circle_background;
    }
  }
}

ul {
  &.list.of.links {
    &.tag {
      a:not(.x) {
        @include rounded_corners($sk_tag_radius);
        &:before {
          @include rounded_corners($sk_tag_triangle_radius);
        }
        &:hover {
          &:before {

          }
        }
      }
    }
    &.banded {
      > li {
        @include zebra_striping($sk_zebra_striping_color_1,$sk_zebra_striping_color_2);
      }
    }
  }
}