// Utilities
// TECHDEBT

.disqus_hide {
  margin-top: -35px;
  height: 30px;
  background: #323a45;
}

// Search 
.list.of.links.for.search.results li {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

// ADMIN
hr {
  border: 0 #e1e1e1 solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
  margin: 20px 0px;
}

.admin.table .new.strong.button {
  float: right;
  margin-bottom: 20px;
}

.admin.table h1 {
  float: left;
  margin-top: 10px !important;
}

.admin.table td.checkbox {
  text-align: center;
}

.admin.table {
  margin: 0 auto;
}

.action.links {
  float: right;
  clear: both;
  padding: 0px;
}

.action.links li {
  float: left;
  margin-right: 10px !important;
}

.admin.table .link.bulk_actions {
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_137_cogwheels.png');
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 16px;
  opacity:0.4;
  filter:alpha(opacity=40);
  font-size: 13px;
}

.admin.table .link.bulk_import {
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_190_circle_plus.png');
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 12px;
  opacity:0.4;
  filter:alpha(opacity=40);
  font-size: 13px;
}

.admin.table .link.bulk_actions:hover {
  opacity:1.0;
  filter:alpha(opacity=100);
}

.admin.table .link.bulk_import:hover {
  opacity:1.0;
  filter:alpha(opacity=100);
}

.stripe a:not(.button):not(.lozenge):not(.resource):not(.chosen-single) {
  color:#333;
  text-decoration: none;
}

table {
  width: 100%;
        
  &.data {
    border-spacing: 0;
    border-collapse: collapse;
    margin: $ch_data_table_margin;
    &.condensed {
      td {
        padding: $ch_condensed_data_table_td_padding;
   }
    }
    td{
      padding: $ch_data_table_td_padding;
      padding: 0px 20px;
      border: 1px solid #e1e1e1;
      overflow: hidden;
    }
    th {
      text-align: center;
      border-bottom: none;
      border-right: 1px solid #e1e1e1;
      border-top: 1px solid #323a45;
      border-bottom: 1px solid #323a45;
      background: #323a45;
      color: #fff;
      padding: 10px;
      font-weight: normal;
    }
    th:first-child {
      text-align: center;
      border-top: 1px solid #323a45;
      border-bottom: 1px solid #323a45;
      border-left: 1px solid #323a45;
      background: #323a45;
      color: #fff;
      padding: 10px;
      font-weight: normal;
    }
    th:last-child {
      text-align: center;
      border-top: 1px solid #323a45;
      border-bottom: 1px solid #323a45;
      border-right: 1px solid #323a45;
      background: #323a45;
      color: #fff;
      padding: 10px;
      font-weight: normal;
    }
    .alt_position {
      text-align: center;
    }
  }
  tbody tr:nth-child(odd) {
   background-color: #f7f8fa;
  }
}


// DROPDOWN
.admin.table .actions {
  background-image: asset_url('/assets/_framework/chassis/icons/white/glyphicons_136_cogwheel.png') !important;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 16px;
}

.list.dropdown.links .dropdown .add.button {
  color: #000;
  background-color: #fff;
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_190_circle_plus.png') !important;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.list.dropdown.links .dropdown .show.button {
  color: #000;
  background-color: #fff;
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_027_search.png') !important;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.list.dropdown.links .dropdown .edit.button {
  color: #000;
  background-color: #fff;
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_030_pencil.png') !important;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.list.dropdown.links .dropdown .delete.button {
  color: #000;
  background-color: #fff;
  background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_192_circle_remove.png') !important;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
}

.list.dropdown.links .new.actions.button {
  margin: 10px 0px;
}

.list.dropdown.links .dropdown {
  position: absolute;
  background: #fff;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
  min-width: 150px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  padding: 10px;
  margin-left: -10px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}


.list.dropdown.links .dropdown:after, .list.dropdown.links .dropdown:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.list.dropdown.links .dropdown:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 9px;
  margin-left: -9px;
}
.list.dropdown.links .dropdown:before {
  border-color: rgba(225, 225, 225, 0);
  border-bottom-color: #e1e1e1;
  border-width: 11px;
  margin-left: -11px;
}

ul .toggle:hover .dropdown {
  display: block !important;
}

.list.dropdown.links .divider {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
}

// TECHDEBT
// USER DASHBOARD
.user.dashboard {
  color: #465157;

  .main.column {
    float: left;
    margin-right: 20px;
    width: 590px;
  }

  .second.column {
    float: left;
    width: 360px;
  }

  img {
      vertical-align: middle;
  }

  h2 {
    background: #313a46;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
  }

  a {
      color: #08a4e9 !important;
      text-decoration: none;
      &.button {
        color: #fff !important;
        &:hover {
          text-decoration: none;
        }
      }
      &:hover {
        text-decoration: underline;
      }
  }
  .content.container {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ddd;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 0px 20px;
  }

  .lesson_list_column {
    display: none;
  }


  .lesson_list_column .content.container {
    border: 1px solid #ef6754;
  }

  .lesson_list_column .lessons.bar {
    margin-bottom: 0px !important;
  }

  .level.bar {
    background: #fff;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .level.bar img {
    margin-right: 10px;
  }

  .dashboard_column .lessons.bar {
    background: #ef6754;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .lesson_list_column .lessons.bar {
    background: #ef6754;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 20px;
  }

  .lessons.bar span {
    font-size: 30px;
    line-height: 30px;
  }

  .lessons_toggle_link {
    background: #b64d3e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
    display: block;
    float: right;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
  }

  .lessons_toggle_link:hover {
    background: #c45141;
    text-decoration: none;
  }

  .lessons_toggle_link span {
    font-size: 10px;
  }

  .timeline ul, .sidebar ul {
    margin: 10px 0px;
  }

  .timeline ul li, .sidebar ul li {
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    overflow: auto;
    padding-bottom: 20px;
  }

  .timeline ul li:last-child, .sidebar ul li:last-child {
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 0px;
  }

  .timeline .avatar.column {
    float: left;
    margin-right: 20px;
    width: 32px;
  }

  .timeline .info.column {
    float: left;
    width: 496px;
  }

  .lesson.list .info.column {
    float: left;
    width: 366px;
  }

  .lesson.list .actions.column {
    border-left: 1px solid #e1e1e1;
    float: left;
    margin-left: 20px;
    padding-left: 20px;
    width: 86px;
  }

  .lesson.list .actions.column .button {
    margin-bottom: 10px;
  }

  .text.weak {
    color: #7a8083;
    font-weight: lighter;
  }

  .timeline.info.wrap {
    background: #f9fafc;
    font-size: 14px;
    line-height: 19px;
    max-height: 96px;
    margin-top:13px;
    overflow: hidden;
    width: 100%;
  }

  .timeline.info.image {
    float: left;
    margin-right: 20px;
    width: 96px;
  }

  .timeline.info.text {
    float: left;
    padding: 10px 0px;
    width: 360px;
  }

  .timeline.info.icon {
    background-image: asset_url('/assets/icon-tick.png');
    width: 46px;
    height: 46px;
    float: right;
    margin-top: 14px;
  }

  .sidebar .info.column {
    float: left;
    font-size: 14px;
    width: 266px;
  }

  .sidebar button {
    width: 100%;
  }

  .sidebar .info.column a {
    display: inline-block;
    // margin-top: 10px;
  }

  .sidebar .smaller a {
    display: inline-block;
    margin-top: 10px;
  }

  .sidebar .button {
    margin-bottom: 20px;
  }

  .sidebar .carousel {
    padding-bottom: 20px;
    text-align: center !important;
  }

  .button.green {
    background: #9ad751;
  }

  .button.green:hover {
    background: #a3e355;
  }

  .button.blue {
    background: #08a4e9;
  }

  .button.blue:hover {
    background: #07aff9;
  }

  .progress.bar.bg {
    background: #efefef;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 8px;
    width: 100%;
    margin-top: 20px;
  }

  .progress.indicator {
    background: #a3e355;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 8px;
  }

  .tabs {
    overflow: auto;
  }

  .tabs_content {
    clear: both;
  }

  .tab_content {
    display: none;
  }

  .tab_show {
    display: block;
  }

  .tabs .tab_links {
    display: inline;
    list-style-type: none;
  }

  .tabs .tab_links li {
    float: left;
    padding: 0px;
  }

  .tabs .tab_links li a {
    background: #989ca2;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-right: 1px solid #fff;
    color: #fff !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: center;
  }

  .tabs .tab_links li a:hover {
    text-decoration: none;
  }

  .tabs .tab_links .active a {
    background: #313a46;
    color: #fff !important;
  }

  .list.of.links.for.timeline, .list.of.links.for.lesson.list {
    margin-bottom: 20px !important;
  }

  .smaller {
    font-size: 14px;
    line-height: 20px;
  }
}

// USER PROFILE
.user.profile {
  .column {
    float: left;
  }
  .first.column .inner {
    padding-right: 20px;
  }
  .second.column .inner {
    padding-right: 20px;
  }
  .avatar.column {
    float: left;
    margin-right: 20px;
    width: 32px;
  }
  .info.column {
    float: left;
    width: 90%;
  }
  h1 {
    background: #313a46;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
  }
  .content.container {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ddd;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
  }
  .content.container .with.border.bottom {
    border-top: none;
  }
  .content.container .with.border.bottom li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0px;
    overflow: auto;
  }
  .content.container .with.border.bottom li:last-child {
    border-bottom: none;
  }
  .content.container .timeline ul {
    border-top: none;
  }
  .content.container .timeline ul li {
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: auto;
  }
  .content.container h3 {
    margin-bottom: 0px;
  }
  .content.container p {
    margin-top: 0px;
  }
  .edit.link a {
    float: right;
    background-image: asset_url('/assets/_framework/chassis/icons/black/glyphicons_030_pencil.png');
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 5px;
    background-size: 12px;
  }
  .profile.photo {
    text-align: center;
    margin-bottom: 15px;
  }
  .profile.photo img {
    width: 100%; 
  }
  .condensed.list.of.items.for.followers, .condensed.list.of.items.for.pursueds {
    margin-top: 10px;
  }
  .condensed.list.of.items.for.followers li, .condensed.list.of.items.for.pursueds li {
    width: 32px;
    margin-right: 5px;
    padding: 0px;
    margin-bottom: 5px;
  }
  .timeline.info.wrap, .timeline.info.title {
    margin-bottom: 5px;
  }
  .timeline.info.text {
   font-size: 14px;
  }
  .timeline.time.ago {
    clear: both;
    font-size: 12px;
    float: right;
  }
  .timeline.info.lesson {
    width: 80%;
  }
  .timeline.info.title {
    color: #ff9326;
  }
  .profile.follow {
    margin-top: 10px;
  }
}

// ADMIN DASHBOARD
.admin.dashboard {
  color: #465157;

  .inner {
    padding: 0px 10px;
  }

  .center {
    text-align: center;
  }

  img {
      vertical-align: middle;
  }

  h2 {
    background: #313a46;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
  }

  .content.container {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ddd;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
    overflow: auto;
  }

  .content.container.full {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .stats.column {
    float: left;
    width: 220px;

    .courses, .users {
      text-align: center;
      .amount {
        font-size: 62px;
        font-weight: bold;
      }
    }

    hr {
      margin: 10px 0px;
    }

    .courses {
      .title {
        margin-top: 10px;
      }
      .amount {
        color: #08a4e9;
      }
    }

    .users {
      .amount {
        color: #9ad751;
      }
    }
  }

  .completion.column {
    width: 580px;
    float: left;
    margin-left: 20px;
  }

  .heroes.column {
    width: 100%;
    clear: both;

    .content.container {
      border-top: none;
    }

    .heroes.list.wrap {
      width: 164px;
      float: left;
      .title.strip {
        background: #9ad751;
      }
    }

    .villains.list.wrap {
      width: 164px;
      float: left;
      .title.strip {
        background: #08a4e9;
      }
    }

    .graph.wrap {
      width: 490px;
      float: left;
      .title.strip {
        background: #bac6cc;
      }
    }

    .title.strip {
      color: #fff;
      padding: 6px 0px;
      text-align: center;
      margin-bottom: 20px;
    }

    .list.of.links {
      margin: 0px 20px;
    }

    .list.of.links li {
      padding-bottom: 20px;
      clear: both;
      overflow: auto;
    }

    .avatar.column {
      width: 32px;
      float: left;
    }

    .info.column {
      width: 82px;
      float: left;
      font-size: 12px;
      margin-left: 10px;
    }

  }

  .three.columns.wrap {
    width: 100%;
    overflow: auto;

    .column {
      width: 31.7%;
      float: left;
      margin-right: 20px;

      .content.container.viewed, .content.container.rated {
        border-top: none;
      }

      .half {
        width: 50%;
        float: left;

        .title.strip {
          text-align: center;
          color: #fff;
          padding: 6px 0px;

          span {
            font-size: 12px;
          }
        }
      }
    }

    .column.one {
      .list.of.links {
        font-size: 12px;
      }
      .title.strip {
        background: #08a4e9;
      }
    }
    .column.two {
      .list.of.links {
        font-size: 12px;
      }
      .title.strip {
        background: #9ad751;
      }
    }
    .column.last {
      margin-right: 0px;
      text-align: center;

      h3 {
        margin-top: 10px;
        margin-bottom: 0px;
      }
      p {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    .half .list.of.links {
      margin: 10px;
    }

    .half.last .list.of.links {
      padding-left: 10px;
      margin: 10px 10px 10px 0px;
      border-left: 1px solid #e1e1e1;
    }
  }


}
