/*
These variables control the look and feel of the UNDERLYING STRUCTURE of the page.
We advise you not to touch these, unless you're working on the core development of the Chassis Framework.
Instead, you should got to the skin folder and make any changes there to the look of your site or systemπ
*/

// Colors
$ch_text_color: #333;

// Typography
  // Fonts
$ch_default_font_family: Arial, Helvetica, "Sans-serif";
$ch_default_font_color: #333;
  // Links
$ch_link_color: #D96D00;
$ch_link_hover_color: #FF9326;
  // Headings
$ch_h1_font_size: 160%;
$ch_heading_link_color: #333;
$ch_heading_link_hover_color: #777;

// Nav
$ch_nav_height: 40px;
$ch_nav_width: 100%;
$ch_nav_background_color: #333;
$ch_nav_text_color: #fff;
$ch_nav_link_color: #fff;
$ch_nav_link_hover_background: #666;
$ch_nav_dropdown_width: 150px;
$ch_nav_dropdown_top: 22px;
$ch_nav_dropdown_shunt: 8px;
$ch_nav_group_padding: 10px;
$ch_nav_search_margin: -7px 0 -10px 0;
$ch_nav_link_padding: 5px 10px;

// Grids
  // Mobile
$ch_stripe_wrapper_padding: 30px 20px;
$ch_grid_section_padding_bottom: 20px;
$ch_grid_section_distinct_padding_top: 15px;
$ch_grid_content_with_distinct_section: 20px;

  // Desktop
$ch_desktop_body_margin_top: 40px;

  // Multi Column (General)
$ch_main_column_float_reversed: right;
$ch_second_column_float_reversed: left;

  // 2 Column
$ch_two_col_main_column_float: left;
$ch_two_col_second_column_float: left;
$ch_two_col_content_padding_bottom: 10px;

$ch_two_col_alt_content_padding_top: 10px;

    // Tablet - 2 Column
$ch_two_col_main_column_width_tablet: 49%;
$ch_two_col_second_column_width_tablet: 49%;

$ch_two_col_alt_main_column_width_tablet: 75%;
$ch_two_col_alt_second_column_width_tablet: 23%;

    // Desktop - 2 Column
$ch_two_col_alt_first_column_width_desktop: 25%;
$ch_two_col_alt_second_column_width_desktop: 50%;
$ch_two_col_alt_third_column_width_desktop: 25%;

$ch_two_col_first_column_width_desktop: 49%;
$ch_two_col_second_column_width_desktop: 49%;
$ch_two_col_third_column_width_desktop: 49%;

  // Or
$ch_or_padding: 20px 0;
$ch_mobile_line_length: 40%;
$ch_mobile_line_top: 30px;
$ch_mobile_line_stroke_width: 1px;
$ch_mobile_line_color: #ccc;
$ch_mobile_line_offset: 5%;

// Wells
$ch_well_color: #eee;
$ch_well_radius: 3px;
$ch_well_border_width: 1px;
$ch_well_border_color: #ddd;
$ch_well_inset_left_offset: 1px;
$ch_well_inset_right_offset: 1px;
$ch_well_inset_blur: 0;
$ch_well_inset_color: #ccc;
$ch_well_padding: 15px;
$ch_well_margin: 20px 0;

// Panels
$ch_panel_background: #ddd;
$ch_panel_padding: 15px;
$ch_panel_margin: 10px 0;

  // Tight Panel
$ch_tight_panel_tablet_min_width: 320px;
$ch_tight_panel_tablet_max_width: 35%;

// Media Object
$ch_media_object_margin: 10px 0;

// Forms
$ch_form_field_padding: 5px;
$ch_form_field_background: #fff;
$ch_form_field_border: 1px solid #ccc;
$ch_form_field_focus_background: #fffdc3;
$ch_form_textarea_height: 150px;

$ch_label_padding: 10px 0 5px 0;

$ch_upload_area_radius: 20px;

  // Section - in Form
$ch_form_section_padding: 15px;
$ch_form_section_border: 1px solid #ccc;
$ch_form_section_margin: 15px 0;

// Lists
$ch_li_padding: 5px;

  // Divider
$ch_divider_height: 4px;
$ch_divider_width: 100%;
$ch_divider_line_height: 1px;
$ch_divider_line_type: dotted;
$ch_divider_line_color: #bbb;
  // dt
$ch_dt_width: 100px;
$ch_dt_separator: ":";
  // Fake ordered lists
$ch_ordered_list_item_margin: 0 0 0 40px;
$ch_fake_ordered_list_item_radius: 30px;
$ch_fake_ordered_list_item_background_color: #999;
$ch_fake_ordered_list_item_text_shunt: 5px;
$ch_fake_ordered_list_item_font_size: 110%;
$ch_fake_ordered_list_item_font_color: #fff;
$ch_fake_ordered_list_item_weight: bold;
$ch_fake_ordered_list_item_left_offset: -40px;
$ch_fake_ordered_list_item_top_offset: -1px;
$ch_part_a_tablet_min_height: 150px;
$ch_parts_tablet_max_width: 43%;
$ch_part_padding_bottom: 20px;
$ch_part_a_desktop_min_height: 170px;

  // Dragable file upload
$ch_draggable_fileupload_text: "Drag your file here";
$ch_draggable_fileupload_toggle_text: "or click to upload";
$ch_draggable_fileupload_max_width: 60%;
$ch_draggable_fileupload_padding: 50px 30px 20px 30px;
$ch_draggable_fileupload_border: 3px dashed #ccc;
$ch_draggable_fileupload_background_color: #fafafa;
$ch_draggable_fileupload_font_color: #999;
$ch_draggable_fileupload_font_size: 110%;
$ch_draggable_fileupload_font_weight: bold;
$ch_draggable_fileupload_toggle_font_weight: normal;
$ch_draggable_fileupload_background_position: center 20px;

  // Banded lists
$ch_zebra_striping_color_1: #fafafa;
$ch_zebra_striping_color_2: transparent;

// Tags
$ch_tag_font_size: 90%;
$ch_tag_height: 24px;
$ch_tag_padding: 5px;
$ch_tag_background: #F8B710;
$ch_tag_background_hover: #E18D00;
$ch_tag_text_color: #fff;
$ch_tag_text_shadow_left_offset: 1px;
$ch_tag_text_shadow_top_offset: 2px;
$ch_tag_text_shadow_blur: 0;
$ch_tag_text_shadow_color: #A26400;
$ch_tag_top_padding: 3px;
$ch_clean_list_link_color: #333;
$ch_clean_list_link_hover_color: #777;
$ch_detatched_list_of_links_top: -10px;
$ch_detatched_list_of_links_right: 0;
$ch_tag_triangle_top_shunt: -1px;
$ch_tag_circle_size: 5px;
$ch_tag_triange_top_shunt: +1;
$ch_tag_circle_top_shunt: +1;
$ch_tag_circle_left_shunt: -3px;
$ch_tag_circle_background_color: #fff;

// Alerts
$ch_flash_background: #eee;
$ch_flash_padding: 15px;
$ch_flash_margin: 15px;
$ch_flash_error_border: 1px solid #c00;

// Buttons
$ch_button_holder_padding: 15px 0;
$ch_button_background_color: #999;
$ch_button_text_color: #fff;
$ch_button_padding: 5px 10px;
$ch_button_hover_background: #777;
$ch_button_font_size: 100%;

  // Weak
$ch_weak_icon_size: 25px;
$ch_weak_icon_padding_left: 12px;
$ch_weak_button_font_size: 90%;
$ch_weak_button_padding: 3px 7px;

  // Strong
$ch_strong_icon_size: 35px;
$ch_strong_icon_padding_left: 20px;
$ch_strong_button_font_size: 105%;
$ch_strong_button_padding: 8px 12px;

  // Condensed
$ch_condensed_button_color: #333;
$ch_condensed_button_background_color: transparent;
$ch_condensed_button_font_size: 80%;
$ch_condensed_button_padding_left: 20px;
$ch_condensed_button_top_margin: 5px;

  // Resource
$ch_resource_link_color: #333;
$ch_resource_link_background_color: #eee;
$ch_resource_link_margin: 0px 0 10px 0;
$ch_resource_link_padding: 10px;
$ch_resource_link_hover_background: #ddd;

  // Icons
$ch_icon_size: 30px;
$ch_icon_padding_left: 16px;

$ch_single_file_icon: '_framework/chassis/icons/black/glyphicons_318_more_items.png';
$ch_add_icon_url: '_framework/chassis/icons/black/glyphicons_190_circle_plus.png';
$ch_search_icon_url: '_framework/chassis/icons/black/glyphicons_027_search.png';
$ch_edit_icon_url: '_framework/chassis/icons/black/glyphicons_136_cogwheel.png';
$ch_delete_icon_url: '_framework/chassis/icons/black/glyphicons_192_circle_remove.png';
$ch_show_icon_url: '_framework/chassis/icons/black/glyphicons_051_eye_open.png';
$ch_minus_icon_url: '_framework/chassis/icons/black/glyphicons_191_circle_minus.png';
$ch_facebook_icon_url: '_framework/chassis/icons/custom/facebook.png';
$ch_twitter_icon_url: '_framework/chassis/icons/custom/twitter.png';
$ch_linkedin_icon_url: '_framework/chassis/icons/custom/linkedin.png';
$ch_github_icon_url: '_framework/chassis/icons/black/glyphicons_social_21_github.png';
$ch_resource_icon_url: '_framework/chassis/icons/custom/link.png';
$ch_file_icon_url: '_framework/chassis/icons/custom/document.png';
$ch_exam_icon_url: '_framework/chassis/icons/custom/exam.png';


$ch_resource_icon_video_url: '_framework/chassis/icons/custom/video.png';
$ch_resource_icon_audio_url: '_framework/chassis/icons/black/glyphicons_184_volume_up.png';
$ch_resource_icon_image_url: '_framework/chassis/icons/black/glyphicons_011_camera.png';

$ch_resource_icon_doc_url: '_framework/chassis/icons/black/glyphicons_036a_doc_file.png';
$ch_resource_icon_pdf_url: '_framework/chassis/icons/black/glyphicons_036b_pdf_file.png';
$ch_resource_icon_xls_url: '_framework/chassis/icons/black/glyphicons_036c_xls_file.png';
$ch_resource_icon_ppt_url: '_framework/chassis/icons/black/glyphicons_036d_ppt_file.png';
$ch_resource_icon_swf_url: '_framework/chassis/icons/black/glyphicons_036e_swf_file.png';


$ch_light_add_icon_url: '_framework/chassis/icons/white/glyphicons_190_circle_plus.png';
$ch_light_search_icon_url: '_framework/chassis/icons/white/glyphicons_027_search.png';
$ch_light_edit_icon_url: '_framework/chassis/icons/white/glyphicons_136_cogwheel.png';
$ch_light_delete_icon_url: '_framework/chassis/icons/white/glyphicons_192_circle_remove.png';
$ch_light_show_icon_url: '_framework/chassis/icons/white/glyphicons_051_eye_open.png';
$ch_light_minus_icon_url: '_framework/chassis/icons/white/glyphicons_191_circle_minus.png';

// Tables
$ch_data_table_margin: 10px 0;

  // Condensed
$ch_condensed_data_table_td_padding: 1px 0;

  // td
$ch_data_table_td_padding: 4px 0;
$ch_data_table_td_border_bottom: 1px solid #ccc;

  // th
$ch_data_table_th_border_bottom: 2px solid #999;

// Star rating
$ch_star_rating_label_padding_right: 10px;

// TONY
$ch_alt_button_background: #bbb;
$ch_alt_button_hover_background: #aaa;

$ch_twitter_typeahead_link_color: blue;
$ch_twitter_typeahead_link_hover_color: gray;
$ch_twitter_typeahead_link_hover_background: white;

$ch_twitter_typeahead_dataset_width: 23%;
$ch_twitter_typeahead_dataset_float: left;
$ch_twitter_typeahead_dataset_margin_left: 0!important;
$ch_twitter_typeahead_dataset_margin_right: 2%;
$ch_twitter_typeahead_dataset_h3_font_weight: normal;
$ch_twitter_typeahead_dataset_h3_display: block;
$ch_twitter_typeahead_dataset_h3_background: #b7c6cc;
$ch_twitter_typeahead_dataset_h3_padding: 2px 10px;
$ch_twitter_typeahead_dataset_h3_margin_top: 10px;
$ch_twitter_typeahead_dataset_h3_margin_bottom: 10px;
$ch_twitter_typeahead_dataset_h3_color: #fff;

$ch_video_preview_zindex: 100;
$ch_video_preview_position: absolute;
$ch_video_preview_top: 130px;
$ch_video_preview_h2_font_size: 100%;
$ch_video_preview_h2_display: inline;
$ch_video_preview_img_margin_bottom: -30px;
$ch_video_preview_img_width: 90px;
$ch_video_preview_img_margin_right: 10px;

// Client Bar
$ch_client_bar_image_height: 30px;
$ch_client_bar_padding_vertical: 3px;
$ch_client_bar_padding_horizontal: 10px;

// Footer
$ch_admin_footer_height: 160px;
$ch_admin_footer_background_color: transparent;
