/*
These variables control the look and feel of the LOOK-AND-FEEL of the skin.
You are fine to edit these.
*/

//  Standards
$sk_standard_radius: 3px;

// Page
$sk_page_top_padding_desktop: 20px;
$sk_body_background: #f9fafc;
$sk_custom_background: 'client/login.jpg';
$sk_client_logo: 'client/logo.gif';

// Type
$sk_default_font_import: 'http://fonts.googleapis.com/css?family=Signika:300,400,600,700';
$sk_default_font_family:'Signika', sans-serif;

// Colors
$sk_heading_color: #323a45;
$sk_label_color: $sk_heading_color;
$sk_th_color: $sk_heading_color;

// Nav
$sk_navbar_background_color: #323a45;
$sk_nav_link_hover_background_color: #5e6d81;
$sk_nav_input_margin_right: 3px;
$sk_nav_input_outline: 0;
$sk_nav_desktop_input_width: 90px;
$sk_nav_desktop_input_width_focus: 190px;
$sk_nav_field_transition: width 0.5s;
$sk_nav_search_top_margin: -8px;

// Button
$sk_button_radius: $sk_standard_radius;
$sk_button_background_color: #08a4e9;
$sk_button_background_color_hover: darken($sk_button_background_color,10%);
$sk_button_font_weight: 600;

// Links
$sk_heading_link_color: $sk_heading_color;
$sk_heading_link_hover_color: $sk_button_background_color;

// Tags
$sk_tag_radius: $sk_standard_radius;
$sk_tag_triangle_radius: 0 0 0 $sk_standard_radius;

// Panels
$sk_panel_color: #fff;
$sk_panel_radius: 0;
$sk_panel_border: 5px solid rgba(0,0,0,0.1);

// Flash
$sk_flash_radius: $sk_standard_radius;
$sk_flash_border: 1px solid #aaa;
$sk_flash_color: #1fbba6;
$sk_flash_warning_color: #f27935;

// Lists
  // Banded lists
$sk_zebra_striping_color_1: rgba(255,255,255,0.4);
$sk_zebra_striping_color_2: transparent;
  // Fake ordered lists
$sk_fake_ordered_list_item_text_shunt: 4px;
$sk_fake_ordered_list_item_circle_background: $sk_button_background_color;

// Links
$sk_resource_link_background_color: rgba(100,100,100,0.2);
$sk_resource_link_background_color_hover: rgba(100,100,100,0.1);
$sk_resource_link_icon_padding: 15px center;
$sk_resource_link_padding_left: 40px;
$sk_resource_link_padding_right: 20px;
$sk_resource_link_radius: $sk_standard_radius;

// Form
  // Input
$sk_input_right_margin: 10px;
$sk_input_outline_width: 10px;
$sk_input_outline_color: rgba(20,185,214,0.1);
$sk_textarea_width: 96%;

  // Sections
$sk_form_section_border: 1px solid #ccc ;
$sk_form_section_background_color: rgba(255,255,255,0.5);
$sk_form_section_radius: $sk_standard_radius*1.5;

