// Form elements

input {
  &:not([type='checkbox']):not([type='radio']):not([type='file']) {
    font-family: $ch_default_font_family;
    color: $ch_default_font_color;
    font-size: 100%;
    padding: $ch_form_field_padding;
    background-color: $ch_form_field_background;
    border: $ch_form_field_border;
    &:focus {
      background-color: $ch_form_field_focus_background;
    }
  }
}

textarea {
  border: $ch_form_field_border;
  padding: $ch_form_field_padding;
  background-color: $ch_form_field_background;
  min-height: $ch_form_textarea_height;
  font-size: 100%;
  &:focus {
    background-color: $ch_form_field_focus_background;
  }
}

label {
  font-weight: bold;
  width: 100%;
  display: block;
  padding: $ch_label_padding;
}