// Links

a {
  &.resource {
    display: inline-block;
    text-decoration: none;
    color: $ch_resource_link_color;
    background-color: $ch_resource_link_background_color;
    padding: $ch_resource_link_padding;
    margin: $ch_resource_link_padding;
    background-image: asset_url($ch_resource_icon_url);
    @include icon($ch_icon_size,$ch_icon_padding_left);
    &:hover {
      text-decoration: underline;
      background-color: $ch_resource_link_background_color;
    }
    &.internal {
      background-image: asset_url($ch_file_icon_url);
    }

    @include resources(50px, 24px);
  }
}

ul.accordion.of.summaries {
  li {
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
  }

  div {
    display: none;
  }
}

ul.jigsaw_grid {
  padding-left: 0;
}

ul.list.of.items.for.media_type.counts{
  padding-left: 0;
  padding: $ch_li_padding 0;
  margin: 0px;
  list-style-type: none;
}

// TECHDEBT
ul.list.of.items.for.media_type.counts li {
  float: left;
  margin-right: 20px;
}

dt.resource,
li.resource {
  @include resources(22px !important, 16px);
  @include clean_list(30px);
}

.resource {
  @include resources(30px !important, 20px);
  background-position: 0px 4px !important;
}

.stripe {
  a {
    &:not(.button):not(.lozenge):not(.resource):not(.chosen-single) {
      color: $ch_link_color;
      &:hover {
        color: $ch_link_hover_color;
      }
    }
  }
}


.facebook a {
  background-image: asset_url($ch_facebook_icon_url);
  @include icon($ch_icon_size,$ch_icon_padding_left);
}
.twitter a {
  background-image: asset_url($ch_twitter_icon_url);
  @include icon($ch_icon_size,$ch_icon_padding_left);
}
.linked.in a {
  background-image: asset_url($ch_linkedin_icon_url);
  @include icon($ch_icon_size,$ch_icon_padding_left);
}
.github a {
  background-image: asset_url($ch_github_icon_url);
  @include icon($ch_icon_size,$ch_icon_padding_left);
}
