// Utilities

.inconspicuous,
.system_check {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  @include negative_text_indent();
}

.or {
  position: relative;
  text-align: center;
  padding: $ch_or_padding;
  &:before,
  &:after {
    position: absolute;
    content: "";
    display: block;
    height: $ch_mobile_line_stroke_width;
    width: $ch_mobile_line_length;
    top: $ch_mobile_line_top;
    background-color: $ch_mobile_line_color;
  }
  &:before {
    left: $ch_mobile_line_offset;
  }
  &:after {
    right: $ch_mobile_line_offset;
  }
}

.fake_ordered_list_holder {
  .part.b {
    padding-bottom: $ch_part_padding_bottom;
  }
}

.clippable {
  .full {
    display: none;
  }
  &.unclipped {
    .full {
      display: block;
    }
    .truncated {
      display: none;
    }
  }
}

.rest-in-place{
  &:hover {
    // background: #fefedd;
  }
  cursor:crosshair;
}
