<div id='fileupload_errors'></div>

<% if @lesson.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@lesson.errors.count, "problem") %> <%= t("stopped_this_being_saved") %></h2>

    <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
