<div data-form-section="pasteALink">
  <%= f.label :external_resource_url, "Website/youtube video etc" %>
  <%= f.text_field :external_resource_url %>
</div>
<div data-form-section="videoPreview"></div>
