<div class="two_column grid">
  <div class="main content">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="second content">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>
