---
http_interactions:
- request:
    method: get
    uri: http://www.youtube.com/oembed?format=json&url=http://www.youtube.com/watch?v=5Srrn5m-C9A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: '{"height": 344, "provider_name": "YouTube", "title": "Mercedes-Benz
        TV-Spot \"Chicken\"", "author_name": "mercedesbenz", "author_url": "http:\/\/www.youtube.com\/user\/mercedesbenz",
        "width": 459, "thumbnail_height": 360, "provider_url": "http:\/\/www.youtube.com\/",
        "thumbnail_width": 480, "html": "\u003ciframe width=\"459\" height=\"344\"
        src=\"http:\/\/www.youtube.com\/embed\/5Srrn5m-C9A?feature=oembed\" frameborder=\"0\"
        allowfullscreen\u003e\u003c\/iframe\u003e", "thumbnail_url": "http:\/\/i1.ytimg.com\/vi\/5Srrn5m-C9A\/hqdefault.jpg",
        "version": "1.0", "type": "video"}'
  recorded_at: Sat, 26 Oct 2013 09:24:07 GMT
recorded_with: VCR 2.4.0
