<div class="reversed alternative layout two_column grid">
  <%= nested_form_for(@user, data: {url: "/users/#{@user.id}", object: "user"} ) do |f| %>
    <%= render partial: '/users/fields', locals: {f: f} %>
  <% end %>

  <div class="third content">
    <div class="section">
      <%= render partial: "/tags/form", locals: {taggable: @user, tags: @user.interests, taggable_type: "interests", url: user_tag_path(@user)} %>
      <%= render partial: "/tags/form", locals: {taggable: @user, tags: @user.skills, taggable_type: "skills", url: user_tag_path(@user)} %>
    </div>
  </div>
</div>
