// Navigation

.nav {
  @include horizontal_nav($ch_nav_height,$ch_nav_width,$ch_nav_background_color);
  color: $ch_nav_text_color;
  .group {
    padding-top: $ch_nav_group_padding;
    padding-left: $ch_nav_group_padding/2;
    padding-bottom: $ch_nav_group_padding;
    float: left;
    &.second {
      float: right;
      padding-right: $ch_nav_group_padding;
    }
    &.search {
      float: right;
      margin: $ch_nav_search_margin;
      padding-top: 17px;
      button {
        display: none;
      }
    }
  }
  a {
    position: relative;
    text-decoration: none;
    color: $ch_nav_link_color;
    padding: $ch_nav_link_padding;
    &:hover {
      background: $ch_nav_link_hover_background;
    }
    &.link {
      // TECHDEBT
      padding-left: 40px;
      background-position: 10px center;
      background-repeat: no-repeat;
      .nav_count {
        right: inherit;
        top: -1px;
        left: -1px;
      }
      &:hover {
        background-position: 10px center;
        background-repeat: no-repeat;
      }
      &.dashboard {
        background-image: asset_url('_framework/chassis/icons/custom/nav_dashboard.png');
      }
      &.lessons {
        background-image: asset_url('_framework/chassis/icons/custom/nav_lesson.png');
      }
      &.users {
        background-image: asset_url('_framework/chassis/icons/custom/nav_people.png');
        padding-left: 50px;
      }
      &.exams {
        background-image: asset_url('_framework/chassis/icons/custom/nav_exams.png');
      }
      &.settings {
        background-image: asset_url('_framework/chassis/icons/custom/nav_settings.png');
        padding-left: 50px;
      }
      &.sign_out {
        background-image: asset_url('_framework/chassis/icons/custom/nav_sign_out.png');
        padding-left: 45px;
      }
    }
    .nav_count {
      position: absolute;
      display: block;
      // TECHDEBT
      top: 5px;
      right: 5px;
      background-color: #EF6754;
      font-size: 90%;
      min-width: 16px;
      min-height: 16px;
      text-align: center;
      @include rounded_corners(200px);
      @include box_shadow(0,0,3px,rgba(0,0,0,0.9));
      border: 2px solid #fff;
    }
  }
  .twitter-typeahead {
    //TONY
    a {
      color: $ch_twitter_typeahead_link_color;

      &:hover {
        color: $ch_twitter_typeahead_link_hover_color;
        background: $ch_twitter_typeahead_link_hover_background;
      }
    }
  }
  .accordian {
    position: relative;
    @include inline_list(0);
    ul {
      position: absolute;
      top: $ch_nav_dropdown_top;
      border-top: $ch_nav_dropdown_shunt solid rgba(0,0,0,0);
      background-clip: padding-box;
      left: 0;
      @include clean_list(0);
      display: none;
      background-color: $ch_nav_background_color;
      width: $ch_nav_dropdown_width;
      li {
        width: 100%;
        button.accordian_link {
          padding: 5px 10px;
          background: transparent;
          border: none;
          text-align: left;
          width: 100%;
          font-weight: normal;
          &:hover {
            background: #5e6d81;
          }
        }
      }
      a {
        display: block;
      }
    }
    &.alternative.position {
      ul {
        left: inherit;
        right: 0;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
}

body.admin {
  a {
    .nav_count {
      display: none;
    }
  }
}

.footer {
  &.admin {
    min-height: $ch_admin_footer_height;
    background-color: $ch_admin_footer_background_color;
  }
}
