<% lesson = dashboard_summary %>
<li>
  <div class="avatar column">
    <%= image_tag lesson.thumbnail, alt: "Image for lesson #{lesson.title}" %>
  </div>
  <div class="info column">
    <div><%= link_to lesson.title, lesson %></div>
  </div>
  <div class="actions column">
    <div><%= link_to "Study", lesson, class: "show button" %></div>
  </div>
</li>
