<% if studiable_items[:lessons] > 0 %>
  <div class="lessons bar">
    You have <span><%= studiable_items[:lessons] %></span> 
    lessons to complete! 
    <a href="#" class="add button lessons_toggle_link">See All</a>
  </div>
<% end %>
