<div class='lessons' id='filterable_list'>
  <%= text_field_tag :filter, '', :placeholder => t("Filter"), class: "search" %>

  <ul class="jigsaw_grid list for lessons">
    <%= render partial: 'lessons/lesson', collection: @lessons %>
  </ul>
</div>

