<li>
  <div class="avatar column">
    <%- if current_user.avatar_image? %>
      <%= render partial: 'users/avatar_preview', locals: {user: current_user} %>
    <%- else %>
      <img src="http://api.randomuser.me/0.2/portraits/men/1.jpg">
    <%- end %>
  </div>
  <div class="info column">
      <div class="timeline info title">Completed the lesson:</div>
      <div class="timeline info wrap">
        <%= link_to lesson.lesson do %>
        <%- if lesson.thumbnail == "" %>
        <div class="timeline info image">
          <%= image_tag lesson.thumbnail %>
        </div> 
        <%- end %>
        <div class="timeline info text">
          <!--<div class="timeline info icon"></div>-->
          <div class="timeline info lesson"><%= lesson.title %></div>
        </div>
      </div>
    <%- end %>
  </div>
  <div class="timeline time ago">about 22 hours ago</div>
</li>
