// Grid

body {
  background-color: $sk_body_background;
  &.logged_out {
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

body.logged_out {min-height: 475px;}
// TECHDEBT
.jigsaw_grid{
  .jigsaw_item{
    background: #fff;
    border: 1px solid #f0f0f0;
    border-bottom: 2px solid #ddd;
    @include rounded_corners(4px);
    margin-bottom: 20px;
    list-style-type: none;
    width: 200px;
    .inner {
      padding: 10px;
    }
    .title {
      margin-bottom: 5px;
      font-weight: normal;
    }
    .description {
      margin-bottom: 10px;
    }
    .counts {
      margin: 10px 0px 20px 0px;
    }
    .list.of.comma.separated.tags.links {
      margin-bottom: 10px;
    }
    .image.wrap {
      height: 150px;
      padding: 2px;
      overflow: hidden;
      img {
        width: 100%;
        @include top_rounded_corners(3px);
      }
    }
    .complete_by {
      display: block;
    }
  }
}

@media only screen and (min-height: 475px) {body.logged_out {min-height: 500px;}}
@media only screen and (min-height: 500px) {body.logged_out {min-height: 525px;}}
@media only screen and (min-height: 525px) {body.logged_out {min-height: 550px;}}
@media only screen and (min-height: 550px) {body.logged_out {min-height: 575px;}}

@media only screen and (min-height: 575px) {body.logged_out {min-height: 600px;}}
@media only screen and (min-height: 600px) {body.logged_out {min-height: 625px;}}
@media only screen and (min-height: 625px) {body.logged_out {min-height: 650px;}}
@media only screen and (min-height: 650px) {body.logged_out {min-height: 675px;}}

@media only screen and (min-height: 675px) {body.logged_out {min-height: 700px;}}
@media only screen and (min-height: 700px) {body.logged_out {min-height: 725px;}}
@media only screen and (min-height: 725px) {body.logged_out {min-height: 750px;}}
@media only screen and (min-height: 750px) {body.logged_out {min-height: 775px;}}

@media only screen and (min-height: 775px) {body.logged_out {min-height: 800px;}}
@media only screen and (min-height: 800px) {body.logged_out {min-height: 825px;}}
@media only screen and (min-height: 825px) {body.logged_out {min-height: 850px;}}
@media only screen and (min-height: 850px) {body.logged_out {min-height: 875px;}}

@media only screen and (min-height: 875px) {body.logged_out {min-height: 900px;}}
@media only screen and (min-height: 900px) {body.logged_out {min-height: 925px;}}
@media only screen and (min-height: 925px) {body.logged_out {min-height: 950px;}}
@media only screen and (min-height: 950px) {body.logged_out {min-height: 975px;}}

@media only screen and (min-height: 975px) {body.logged_out {min-height: 1000px;}}
@media only screen and (min-height: 1000px) {body.logged_out {min-height: 1025px;}}
@media only screen and (min-height: 1025px) {body.logged_out {min-height: 1050px;}}
@media only screen and (min-height: 1050px) {body.logged_out {min-height: 1075px;}}
