<div class="main column dashboard_column">
  <%= render 'users/level_bar' %>
  <%= render 'lessons/lesson_bar' %>

  <h2>Timeline</h2>
  <div class="timeline content container">
    <ul class="list of links for timeline">
      <%= render partial: 'time_lines/lesson', collection: @dashboard.completed_lessons %>
    </ul>
  </div>
</div>
