<div class='courses' id='filterable_list'>
  <%= text_field_tag :filter, '', :placeholder => t("Filter"), class: "search" %>

  <ul class="jigsaw_grid list for courses">
    <%= render partial: 'courses/course', collection: courses %>
  </ul>
</div>

