// Forms Layout

form {
  .section {
    border: $sk_form_section_border;
    background: $sk_form_section_background_color;
    @include rounded_corners($sk_form_section_radius);
  }
}

.nav {
  .group {
    &.of.navigation.links {
      position: absolute;
      top: 39px;
      left: 0;
    }
    &.second {
      position: absolute;
      top: 39px;
      right: 0;
    }
    &.search {
      width: 100%;
      span {
        width: 100%;
      }
      form {
        position: relative;
        padding-left: 350px;
        padding-right: 270px;
        .tt-hint {
          display: none;
        }
        span.twitter-typeahead[style] {
          position: static !important;
        }
      }
      input {
        &:not([type='checkbox']):not([type='radio']):not([type='file']) {
          width: inherit;
          margin-top: -6px;
          margin-bottom: 3px;
        }
      }
    }
  }
}

.admin {
  .nav {
    .group {
      &.search {
        form {
          padding-left: 450px;
        }
      }
    }
  }
}

// TECHDEBT