<h2>Hi <%= @recipient.name %></h2>

You have <%= @course_allocations.count %> upcoming courses to complete

<ul>
  <% @course_allocations.each do |c| %>
    <li>
      <%= link_to c.course.title, course_url(c.course, host: @host) %>

      (<%= c.complete_by_date %>)
    </li>
  <% end %>
</ul>
