<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @question_response.answer %>
</p>

<%= link_to 'Edit', edit_question_response_path(@question_response) %> |
<%= link_to 'Back', question_responses_path %>
