<h2>Heroes & Villains</h2>
<div class="content container">
  <div class="heroes list wrap">
    <div class="title strip">Heroes</div>
    <ul class="list of links">
      <%= render partial: 'hero_or_villain', collection: @dashboard.heroes, as: :user %>
    </ul>
  </div>
  <div class="graph wrap">
    <div class="title strip">&nbsp;</div>
    <div id="line_graph" style="min-width: 300px; height: 270px; margin: 0 auto"></div>
  </div>
  <div class="villains list wrap">
    <div class="title strip">Villains</div>
    <ul class="list of links">
      <%= render partial: 'hero_or_villain', collection: @dashboard.villains, as: :user %>
    </ul>
  </div>
</div>
