<h1>Editing user</h1>

<%= render 'form' %>

<ul class="separated condensed list of links">
  <li><%= link_to t("show"), [:admin, @user] %></li>
  <li><%= link_to t("back"), admin_users_path %></li>
</ul>

