<p id="flash notice"><%= notice %></p>
<ul class="separated condensed list of links">
  <li><%= link_to t("edit"), edit_admin_user_path(@user) %></li>
  <li><%= link_to t("back"), admin_users_path %></li>
</ul>

<%= render partial: "/users/user" %>
