<%- exam = summary %>
<li>
  <div class="exam title"><%= link_to exam.title, exam_path(exam.id) %></div>
  <div class="collapsed expandable content">
    <%- if enroled? %>
      <%- complete_exam_sittings_for(exam).each do |sitting| %>
        <div class="exams questions amount"><%= sitting.score_percentage %></div>
      <%- end %>

      <%- if sitting = last_incomplete_exam_sitting_for(exam) %>
        <%= render partial: 'exam_sittings/score' , locals: {exam_sitting: sitting} %>
      <%- end %>

    <%- else %>
      <div class="exams questions amount"><%= t('.question_count', count: exam.questions.count) %> </div>
    <%- end %>
  </div>
</li>
