<div class="group of navigation links">
  <%= link_to t("Dashboard"), "/dashboard", :class => "dashboard link" %>
  <ul class="accordian">
    <li>
      <%= link_to t("Lessons"),  lessons_path, data: {studiable_count: studiable_items[:total]}, :class => "lessons link" %>
        <ul>
          <li><%= link_to t("Lessons"),  lessons_path, data: {studiable_count: studiable_items[:lessons]} %></li>
          <li><%= link_to t("Courses"),  courses_path, data: {studiable_count: studiable_items[:courses]} %></li>
        </ul>
    </li>
  </ul>
</div>
